# idea
.idea
*.ini
*.pyc
logs
.DS_Store
tmp/html/
tmp/json/

# virtual environment
venv

# py cache
__pycache__

# script
*.sh

logs

# uwsgi
*.ini
!*-docker.ini

# vscode
.vscode

# tmux
tmux*.log

# env file
.env
