@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta/Mukta-Regular.ttf");
}

@font-face {
  font-family: "Mukta-Bold";
  src: url("../fonts/Mukta/Mukta-Bold.ttf");
}

html {
  background-color: #dff8fe !important;
  font-size: 16px;
  font-family: "Mukta", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  min-height: 100%;
  height: auto;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #dff8fe !important;
}

a {
  text-decoration: none;
  color: #277999;
}

hr {
  display: block;
  height: 1px;
  margin-top: 2rem;
  padding: 0;
  border: 0;
  border-top: 1px solid #277999;
  width: 100%;
  color: #277999;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 auto;
  max-width: 100%;
}

.title {    
  font-size: 2.5rem;
  font-family: "Mukta-Bold", "Mukta", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  margin-top: 1rem;
  line-height: 1.2;
}

.sentence {
  font-size: 1.2rem;
  line-height: 1.7;
  overflow: visible;
  display: block;
}

.desc {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.white-board-area {
  display: flex;
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
  overflow: hidden;
  border: solid 5px #d2ebf1;
  box-sizing: border-box;
}

#white-board {
  width: 100%;
  background-color: white;
}

.operating-area {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  box-sizing: border-box;
}

button {
  margin: 0 !important;
}

#convert-button {
  background-color: #7eb6d4;
  width: 70%;
}

#clear-button {
  width: 28%;
}

.result-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  color: #3c7390;
  font-size: 1.5rem;
}

#latex-panel {
  width: 100%;
  height: 80%;
  font-size: 2rem;
}

/* latex-js {
  background-color: white;
  width: 100%;
  height: 82%;
  height: 370px;
} */


.footnote {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.5;
}

.step {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: block;
  position: relative;
}

.notification {
  font-size: 1rem;
  color: #3c7390;
  display: none;
}

.warning {
  color: coral;
}

.success {
  color: #529467;
}

.error {
  color: #dd685c;
}

.highlight {
  background-color: #3c7390;
  background-color: #d2ebf1;
  color: currentColor;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}


.site-info {
  color: #277999;
  text-align: center;
  margin: 1rem auto;
}
