
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Handy Calculator</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <div class="title">Handy Calculator</div>
        <div class="sentence desc">可能是一个懂事的手写计算器 🧮</div>
        
        <div class="white-board-area">
          <canvas id="white-board">你的浏览器好像不支持 canvas 呢</canvas>
        </div>
  
        <div class="operating-area">
          <button id="convert-button">转换</button>
          <button id="clear-button">清空</button>
        </div>
        
        <div class="result-area" id="#result-area"></div>

        <hr />
        <!-- <div class="sentence footnote">目前仅能处理比较简单的式子，未来可能好一些</div> -->
        <div class="sentence footnote site-info">© <span id="year">2020</span> Handy Calculator</div>
    </div>
</body>

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
<script>
  // 初始化 canvas
  let canvas = $('#white-board').get(0);
  canvas.width = canvas.offsetWidth;

  canvas.height = canvas.offsetHeight;

  let ctx = canvas.getContext('2d');
  ctx.fillStyle = '#fff';
  ctx.fillRect(0, 0, canvas.width, canvas.height);

  let painting = false;
  let lastPoint = { x: undefined, y: undefined };

  // 监听触摸事件
  canvas.addEventListener('mousedown', handleStart, false);
  canvas.addEventListener('mouseup', handleEnd, false);
  canvas.addEventListener('mousemove', handleMove, false);
  
  function handleStart(evt) {
      painting = true;
      evt.preventDefault();
      let touch = evt;
      let x = touch.offsetX;
      let y = touch.offsetY;
      lastPoint = {'x': x, 'y': y};
  }

  function handleMove(evt) {
      evt.preventDefault();
      let touch = evt;
      if (painting) {
          let x = touch.offsetX;
          let y = touch.offsetY;
          let newPoint = {'x': x, 'y': y};
          drawLine(lastPoint.x, lastPoint.y, newPoint.x, newPoint.y);
          lastPoint = newPoint;
      }
  }

  function handleEnd(evt) {
      evt.preventDefault();
      painting = false;
  }

  function drawLine(x1, y1, x2, y2) {
      ctx.beginPath();
      ctx.lineWidth = 2;
      ctx.lineCap = 'round';
      ctx.lineJoin = 'round';
      console.log(x2, y2);
      ctx.moveTo(x1, y1);
      ctx.lineTo(x2, y2);
      ctx.stroke();
      ctx.closePath();
  }

  $('#clear-button').click(() => {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.fillStyle = '#fff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);
  });

  // 转换
  $('#convert-button').click(() => {
      let imageUri = canvas.toDataURL('image/jpg');
      imageUri = imageUri.replace(/^data:image\/\w+;base64,/, '');
      $.ajax({
          url: '/convert',
          type: 'POST',
          data: JSON.stringify({image_uri: imageUri}),
          dataType: 'json',
          contentType: 'application/json',
          success: (res) => {
              // 返回latex公式
              console.log(res);
			      	if (res.code === 0) {
			      		let data = res.data;
			      		if (data != null) {
                  console.log('====');
                    $('.result-area').html(katex.renderToString(data.latex, {
                      throwOnError: false
                    }));
                } else {
                  $('.result-area').html('识别失败');
                }
			      	} else {
                $('.result-area').html('识别失败');
			      	}
          },
          error: function (data) {
            $('.result-area').html('识别失败');
          }
      })
  });
</script>

</body>
</html>
